################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Another/bin
/Another/obj/Debug
*.user
/packages
*.suo
/Another.zip
