################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SiteSln/SiteSln.v12.suo
/Another.v12.suo
