<h2>HOME</h2>
<p>
    <button class="btn btn-sm btn-default" id="btnStart">Start with 2000</button>
    <button class="btn btn-sm btn-default" id="btnAddMore">Push</button>
    <button class="btn btn-sm btn-default" id="btnReverse">Reverse</button>
    <button class="btn btn-sm btn-default" id="btnPop">Pop</button>
    <button class="btn btn-sm btn-default" id="btnSplice">Splice</button>
    <button class="btn btn-sm btn-default" id="btnShift">Shift</button>
    <button class="btn btn-sm btn-default" id="btnUnshift">Unshift</button>
    <button class="btn btn-sm btn-default" id="btnUnshift" onclick="window.location.reload()">Reset</button>
</p>
<p><span style="float:left; padding-right: 2px; font-size: 9px;" id="long_repeater"></span></p>