<h2>People</h2>
<ul>
    <li id="person_menu_item"></li>
</ul>
<p><button id="change_menu_button">Change menu</button></p>
<form id="search_form" class="well-sm">
    <div class="form-group">
        <label for="search_form_person">Name</label>
        <input class="form-control" type="text" id="search_form_person" />
    </div>
    <div class="form-group">
        <label for="search_form_dept">Dept</label>
        <span id="person_dept"><h1>REMOVE ME</h1></span>
    </div>
    <button id="clear_vals">X</button>
    <div class="form-group">
        <label for="search_form_sub_dept">Sub dept</label>
        <select id="search_form_sub_dept">
            <option id="search_form_sub_dept_opt"></option>
        </select>
    </div>
</form>