<h2>People</h2>
<form id="person_search_form">
    <div class="form-group">
        <label for="person_search_name">Name</label>
        <input id="person_search_name" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label for="person_search_dept">Dept</label>
        <div id="person_search_dept"></div>
    </div>
    <div class="form-group" id="person_search_subdept_row">
        <label for="person_search_subdept">Sub Dept</label>
        <select id="person_search_subdept" class="form-control"></select>
    </div>
    <div class="form-group">
        <label for="person_search_job">Job Title</label>
        <div id="person_search_job"></div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Search</button>
    </div>
</form>